# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
ClashOfBalls.sln
.vs/ClashOfBalls/v14/.suo
ClashOfBalls.sdf
Binaries/Win64/UE4Editor-ClashOfBalls.dll
Binaries/Win64/UE4Editor-ClashOfBalls.pdb
Intermediate/Build/ActionHistory.bin
Intermediate/Build/BuildRules/ClashOfBallsModuleRules.pdb
Intermediate/Build/BuildRules/RocketUE4ModuleRules.dll
Intermediate/Build/BuildRules/ClashOfBallsModuleRules.dll
Intermediate/Build/BuildRules/RocketUE4ModuleRules.pdb
Intermediate/Build/Win64/ClashOfBallsEditor/Development/Makefile.ubt
Intermediate/Build/Win64/UE4Editor/Development/ClashOfBalls/BaseGameMode.cpp.obj
Intermediate/Build/Win64/UE4Editor/Development/ClashOfBalls/ClashOfBalls.generated.cpp.obj
Intermediate/Build/Unused/ClashOfBalls.log
Intermediate/Build/Win64/UE4Editor/Development/ClashOfBalls/BallController.cpp.obj
Intermediate/Build/Win64/UE4Editor/Development/ClashOfBalls/ClashOfBalls.h
Binaries/Win64/UE4Editor-ClashOfBalls.dll
Intermediate/Build/Win64/UE4Editor/Development/ClashOfBalls/ClashOfBallsBall.cpp.obj
Intermediate/Build/Win64/UE4Editor/Development/ClashOfBalls/ClashOfBalls.h.pch
Intermediate/Build/Win64/UE4Editor/Development/ClashOfBalls/ClashOfBallsGameMode.cpp.obj
Intermediate/Build/Win64/UE4Editor/Development/ClashOfBalls/SpawnPoint.cpp.obj
Binaries/Win64/UE4Editor-ClashOfBalls.dll
